.features {
	padding: 4.72em 0 4.4em;
	background-color: $hoverColor;

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		color: $content;
		text-align: center;
		@extend %dmsans-700;
		align-items: center;
		flex-direction: column;
	}

	&__box {
		position: relative;

		.icon {
			z-index: 2;
			fill: $content;
			position: relative;
		}

		&::after {
			content: "";
			right: 0;
			bottom: 0;
			width: 1.94em;
			height: 1.94em;
			border-radius: 50%;
			position: absolute;
			background-color: $textHover;
		}

		&--graph {
			&::after {
				bottom: 0.3em;
				right: -0.6em;
			}
		}

		&--car {
			&::after {
				right: -0.4em;
				bottom: -0.27em;
			}
		}

		&--phone {
			&::after {
				right: -0.6em;
				bottom: 0.5em;
			}
		}
	}

	&__num {
		max-width: 8.3em;
		overflow: hidden;
		font-size: 2.25rem;
		text-overflow: ellipsis;
		margin: 0.41em 0 0.13em;
	}

	&__name {
		overflow: hidden;
		max-width: 19.4em;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
}