body {
	min-height: 100vh;
	@extend %rubik-400;
	font-weight: 400;
	font-style: normal;
	background-color: #fff;
	font-size: 18px;
	line-height: 30px;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.big-container {
	max-width: 1800px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

:focus::-webkit-input-placeholder {
	color: transparent
}

:focus::-moz-placeholder {
	color: transparent
}

:focus:-moz-placeholder {
	color: transparent
}

:focus:-ms-input-placeholder {
	color: transparent
}

input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

