@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

@import 'components/header';
@import 'home/top-slider';
@import 'home/categories';
@import 'home/design';

.blog {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		background-color: #fef7f0;
		left: 0;
		right: 0;
		bottom: 0;
		top: 46vh;
		z-index: -1;
	}
	
	&__inner {
		padding-top: 110px;
	}

	&__top-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		text-align: left;
	}

	&__link {
		color: #262626;
		@extend %dmsans-700;
		font-size: 16px;
	}

	.icon-arrow {
		margin-left: 10px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		margin-bottom: 90px;
	}

	&__item {
		max-width: 370px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__btn {
		position: absolute;
		padding: 8px 30px;
		background-color: #a3bbc8;
		border-radius: 20px;
		color: #fff;
		text-transform: uppercase;
		top: -35%;
		left: 6%;
	}

	&__content {
		margin-top: 32px;
		padding: 0 27px 0 27px;
		position: relative;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__descr {
		@extend %dmsans-500;
		color: #262626;
		padding: 0 25px 13px 0;
	}

	&__info {
		border-top: 1px solid #e0e0e0;
		color: #222933;
		text-transform: uppercase;
		font-size: 12px;
		padding: 20px 0 25px;
		margin-top: auto;
	}

	&__partners {
		display: flex;
		justify-content: space-between;
		margin: 0 75px 0 50px;
		padding-bottom: 90px;
	}

	&__date {
		margin-right: 30px;
	}
}

@import 'components/footer';

// @import 'media-mixin.scss';
// Пока что не работает, при включении, не сжимает основной файл стилей