:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul[class] {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	text-decoration: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

// Стандартное поведение инпутов с исчезновением текста при клике для удобства юзабилити
:focus::-webkit-input-placeholder {
	color: transparent
}
:focus::-moz-placeholder {
	color: transparent
}
:focus:-moz-placeholder {
	color: transparent
}
:focus:-ms-input-placeholder {
	color: transparent
}
input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}