.blog {
	position: relative;

	&::after {
		content: "";
		left: 0;
		right: 0;
		bottom: 0;
		top: 48vh;
		z-index: -1;
		position: absolute;
		background-color: #fef7f0;
	}

	&__inner {
		padding-top: 6.1em;
	}

	&__top-bar {
		display: flex;
		align-items: center;
		margin-bottom: 1.1em;
		justify-content: space-between;
	}

	&__title {
		text-align: left;
	}

	&__link {
		font-size: 1rem;
		color: $textColor;
		@extend %dmsans-700;
		transition: color 0.3s;

		&:hover {
			color: #fcd7b6;

			.icon-arrow {
				transform: translateX(0.3em);
			}
		}

		.icon-arrow {
			margin-left: 0.625em;
			transition: transform ease-out 0.5s;
		}
	}

	&__list {
		display: flex;
		margin-bottom: 5em;
		justify-content: space-between;
	}
}

