.design {
	&__products {
		padding-top: 5.27em;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -0.83em;
		margin-bottom: 5em;
		margin-bottom: 6.5em;
	}

	.mixitup-control-active {
		color: $default;
	}
}

