.video {
	display: flex;
	min-height: 27.7em;
	align-items: center;
	background-size: cover;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: top center;

	@include _979 {
		min-height: 20em;
	}

	@include _414 {
		min-height: 12em;
	}

	&__link {
		display: flex;
		width: 7.22em;
		height: 7.22em;
		border-radius: 50%;
		align-items: center;
		transition: all 0.3s;
		justify-content: center;
		transform-origin: center;
		background-clip: padding-box;
		border: 15px solid rgba(163, 187, 200, 0.4);
		box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
		animation: annoying .4s ease-in infinite alternate;
		background-color: rgba(163, 187, 200, 1);

		@include _768 {
			animation: none;
			width: 5em;
			height: 5em;
			border: 12px solid rgba(163, 187, 200, 0.4);
		}

		@include _414 {
			animation: none;
			width: 3.5em;
			height: 3.5em;
			border: 9px solid rgba(163, 187, 200, 0.4);
		}

		.icon-play {
			fill: #fff;

			@include _768 {
				width: 20px;
				height: 20px;
			}

			@include _414 {
				width: 10px;
				height: 10px;
			}
		}

		&:hover {
			.icon-play {
				fill: #feefe2;
			}
		}

		&:active {
			border: 15px solid rgba(254, 239, 226, 1);
		}
	}
}