.video {
	display: flex;
	min-height: 27.7em;
	align-items: center;
	background-size: cover;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: top center;

	&__link {
		display: flex;
		width: 7.22em;
		height: 7.22em;
		border-radius: 50%;
		align-items: center;
		transition: all 0.3s;
		justify-content: center;
		transform-origin: center;
		background-clip: padding-box;
		border: 15px solid rgba(163, 187, 200, .4);
		animation: annoying .4s ease-in infinite alternate;
		box-shadow: 0 0 15px rgba(255, 255, 255, .4);
		background: radial-gradient(circle at center, #a3bbc8 10px, rgba(163, 187, 200, 1) 10px);

		.icon-play {
			fill: #fff;
		}

		&:hover {
			.icon-play {
				fill: #feefe2;
			}
		}

		&:active {
			border: 15px solid rgba(254, 239, 226, 1);
		}
	}
}