.breadcrumbs {
	padding: 1.6em 0;
	@extend %rubik-300;
	text-align: center;
	background-color: #edf1f4;
	&__title {
		color: #222933;
		font-size: 2.25rem;
	}

	&__list {
		display: inline-flex;
	}

	&__item {
		color: #888c91;
		position: relative;
		padding-left: 1.1em;
		&::before {
			content: "/";
			left: 0.3em;
			color: #888c91;
			position: absolute;
		}
		&:first-child {
			padding: 0;
			&::before {
				display: none;
			}
		}
	}

	&__link {
		color: inherit;
	}
}