.footer {
	&__top {
		padding: 4.166em 0 3.055em;
		border-bottom: 1px solid #dae4e9;
		display: flex;
	}

	&__contact {
		max-width: 11.111em;
		width: 100%;
		margin-right: 5.555em;
	}

	&__logo {
		margin-bottom: 1.388em;
		display: block;
	}

	&__address {
		font-style: normal;
	}

	&__direction {
		color: $footer_link;
		font-size: 0.875rem;
		margin-bottom: 1.0714em;
	}

	&__help {
		max-width: 9.444em;
		width: 100%;
		margin-right: 7.222em;
	}

	&__title {
		color: #1f2044;
		text-transform: uppercase;
		font-size: 1rem;
		@extend %dmsans-700;
		margin-bottom: 1.25em;
		padding-top: 1.125em;
		display: block;
	}

	&__subject {
		margin-bottom: 0.555em;
	}

	&__link {
		color: $footer_link;
		font-size: 0.875rem;
		transition: color 0.3s;

		&:hover {
			color: #fcd7b6;
		}

		&--address {
			margin-bottom: 0.714em;
			display: block;
		}
	}

	&__text {
		color: $footer_link;
		font-size: 0.875rem;
		margin-bottom: 2.142em;
	}

	&__bottom {
		padding: 1.666em 0 1.944em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__form {
		display: flex;
	}

	&__input {
		max-width: 9.444em;
		width: 100%;
		border: none;
		background-color: #fef7f0;
		padding: 0.555em 0.833em;
		outline: transparent;

		&::placeholder {
			font-size: 0.75rem;
			color: #234969;
			@extend %dmsans-400;
		}
	}

	&__btn {
		border: none;
		@extend %dmsans-400;
		color: #fff;
		background-color: #a3bbc8;
		padding: 0.555em;
		cursor: pointer;
		outline: transparent;
	}

	&__copy {
		color: $footer_link;
		font-size: 0.875rem;
	}

	&__lister {
		display: flex;
	}

	&__subj {
		& + & {
			position: relative;
			padding-left: 1.055em;
			margin-left: 0.722em;
		}

		&::before {
			content: "|";
			position: absolute;
			color: $footer_link;
			left: 0;
		}
	}
}