	.header {
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 2.777em 0;
		}

		&__user-nav {
			display: flex;
			align-items: center;
		}

		&__search {
			background-image: url('../images/icons/search.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			width: 0.888em;
			height: 0.888em;
			display: block;
			position: relative;
			margin-right: 2.111em;

			&::before {
				content: "";
				position: absolute;
				width: 2.777em;
				height: 2.777em;
				background-color: #edf1f4;
				border-radius: 50%;
				z-index: -1;
				top: -100%;
				left: -100%;
			}
		}

		&__products {
			background-color: #fcd7b6;
			border-radius: 1.388em;
			padding: 0.5em 2.222em 0.333em;
		}

		&__icon {
			display: inline-block;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				bottom: 0;
			}
			&--likes {
				padding: 1.777em 2.666em 0 0;
				border-right: 1px solid #fde7d3;
				&::after {
					background-image: url('../images/icons/heart.png');
					width: 1.055em;
					height: 0.944em;
					left: 0;
				}
			}
			&--cart {
				padding: 1.777em 2.5em 0 0;
				&::after {
					background-image: url('../images/icons/cart.svg');
					width: 1em;
					height: 0.833em;
					right: 0;
				}
			}
		}

		&__num {
			position: absolute;
			width: 1.6em;
			height: 1.6em;
			color: $content;
			@extend %dmsans-400;
			font-size: 0.625rem;
			background-color: #fff;
			border-radius: 50%;
			text-align: center;
			z-index: 2;
			line-height: 1.6em;
		}

		&__num--likes {
			top: 8px;
			left: 13px;
		}

		&__num--cart {
			top: 9px;
			right: -6px;
		}

		&__menu {
			background-image: url('../images/icons/menu-btn.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			display: block;
			width: 2.777em;
			height: 2.777em;
			margin-left: 0.944em;
		}
	}

	.menu {
		display: flex;
		align-items: center;
		@extend %rubik-500;
		font-size: 0.8333em;

		&__list {
			display: flex;
			margin-left: 25vw;
		}

		&__item {
			& + & {
				margin-left: 1.666em;
			}
		}

		&__link {
			color: $link;
			letter-spacing: 1px;
			transition: color 0.3s;

			&:hover {
				color: #fcd7b6;
			}
		}
	}