.post-author {
	margin: 60px 0;
	padding: 25px 10px 25px 0;
	display: flex;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;

	@include _768 {
		margin: 1em 0;
	}

	&__img-box {
		min-width: 76px;
		overflow: hidden;
		margin-right: 30px;
	}

	&__img {
		width: 76px;
		height: 76px;
		object-fit: cover;
	}

	&__info {
		width: 100%;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		flex-wrap: wrap;
	}

	&__box:last-child {
		margin-bottom: 0;
	}

	&__name {
		@extend %rubik-500;
		color: #333;
		margin-right: 15px;
	}

	&__tags {
		max-width: 200px;
		width: 100%;
		color: #999;

		span {
			margin-right: 25px;
			color: #333;

			@include _414 {
				margin-right: 5px;
			}
		}
	}

	&__link {
		color: #999;
		transition: color 0.3s;

		&:hover {
			color: $secondColor;
		}
	}

	&__status {
		font-size: 1rem;
		color: #666;

		@include _979 {
			margin-right: 110px;
		}
	}

	&__share {
		display: flex;
		max-width: 200px;
		width: 100%;

		span {
			margin-right: 8px;
		}
	}

	&__socials {
		display: flex;
		align-items: center;

		.icon {
			fill: #a1a1a1;
			transition: fill 0.3s;
		}
	}

	&__socials-link {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 11px;

		@include _414 {
			padding: 0 5px;
		}

		&:hover {
			.icon {
				fill: $secondColor;
			}
		}
	}
}