@import 'components/blog-article';

.main-blog {
	padding: 120px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		max-width: 870px;
		width: 100%;
		margin-right: 30px;
	}

	&__pagination {
		justify-content: start;
		padding-top: 30px;
	}

	&__aside {
		max-width: 270px;
		width: 100%;

		.filter-category {
			margin-bottom: 40px;
		}

		.filter__title {
			color: $content;
		}
	}

}