<section class="blog">
	<div class="container">
		<div class="blog__inner">
			<div class="blog__top-bar">
				<h2 class="blog__title title">Our Insights & Articles</h2>
				<a class="blog__link" href="#">
					View All
					<svg width="7" height="12" class="icon icon-arrow">
						<use xlink:href="images/icons/icons.svg#arrow-more"></use>
					</svg>
				</a>
			</div>

			<div class="blog__list">
				<article class="blog-item">
					<a class="blog-item__img-link" href="#">
						<img class="blog-item__img" src="images/decor/news-bg-1.jpg" alt="news decor images">
					</a>
					<div class="blog-item__content">
						<a class="blog-item__btn" href="#">News</a>
						<a class="blog-item__descr-link" href="#">
							<h3 class="blog-item__descr">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim
								ad
								minim
								veniam</h3>
						</a>
						<div class="blog-item__info">
							<time class="blog-item__date">
								<svg width="14" height="14" class="icon">
									<use xlink:href="images/icons/icons.svg#calendar"></use>
								</svg>
								28 january, 2020</time>
							<a class="blog-item__author" href="#">
								<svg width="16" height="14" class="icon">
									<use xlink:href="images/icons/icons.svg#user"></use>
								</svg>
								By admin</a>
						</div>
					</div>
				</article>

				<article class="blog-item">
					<a class="blog-item__img-link" href="#">
						<img class="blog-item__img" src="images/decor/news-bg-2.jpg" alt="news decor images">
					</a>
					<div class="blog-item__content">
						<a class="blog-item__btn" href="#">News</a>
						<a class="blog-item__descr-link" href="#">
							<h3 class="blog-item__descr">Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt
								ut
								labore
								et
								dolore </h3>
						</a>
						<div class="blog-item__info">
							<time class="blog-item__date">
								<svg width="14" height="14" class="icon">
									<use xlink:href="images/icons/icons.svg#calendar"></use>
								</svg>
								28 january, 2020</time>
							<a class="blog-item__author" href="#">
								<svg width="16" height="14" class="icon">
									<use xlink:href="images/icons/icons.svg#user"></use>
								</svg>
								By admin</a>
						</div>
					</div>
				</article>

				<article class="blog-item">
					<a class="blog-item__img-link" href="#">
						<img class="blog-item__img" src="images/decor/news-bg-3.jpg" alt="news decor images">
					</a>
					<div class="blog-item__content">
						<a class="blog-item__btn" href="#">News</a>
						<a class="blog-item__descr-link" href="#">
							<h3 class="blog-item__descr">Rncididunt ut labore et dolore magna aliqua. Ut enim </h3>
						</a>
						<div class="blog-item__info">
							<time class="blog-item__date"">
										<svg width=" 14" height="14" class="icon">
								<use xlink:href="images/icons/icons.svg#calendar"></use>
								</svg>
								28 january, 2020
							</time>
							<a class="blog-item__author" href="#">
								<svg width="16" height="14" class="icon">
									<use xlink:href="images/icons/icons.svg#user"></use>
								</svg>
								By admin</a>
						</div>

					</div>
				</article>
			</div>
		</div>
	</div>
</section>