	<header class="header">
		<div class="container container--big">
			<div class="header__inner">
				<nav class="menu">
					<a class="logo" href="#">
						logo
						<img class="logo__img" src="images/logo.png" alt="logo">
					</a>

					<h1 class="title title--main">Glee home</h1>

					<ul class="menu__list">
						<li class="menu__item">
							<a href="#" class="menu__link">Home</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">About</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Services</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Pages</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">News</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Contact</a>
						</li>
					</ul>

					<div class="header__user-nav">
						<button class="header__btn header__btn--search" type="button">
							search-btn
							<svg width="16" height="16" class="icon icon-search">
								<use xlink:href="images/icons/icons.svg#search-1"></use>
							</svg>
						</button>
						<div class="header__products">
							<div class="header__product header__product--likes">
								<a class="header__icon" href="#">
									link is the likes poructs
									<svg width="20" height="17" class="icon icon-heart">
										<use xlink:href="images/icons/icons.svg#heart"></use>
									</svg>
									<span class="header__num header__num--likes">0</span>
								</a>
							</div>

							<div class="header__product header__product--cart">
								<a class="header__icon" href="#">
									link in the cart proructs
									<svg width="19" height="17" class="icon">
										<use xlink:href="images/icons/icons.svg#cart-header"></use>
									</svg>
									<span class="header__num header__num--cart">0</span>
								</a>
							</div>

						</div>
						<button class="header__btn header__btn--menu" type="button">
							Menu button
						</button>
					</div>
				</nav>
			</div>
		</div>
	</header>